<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('_bootstrap_meta') %>
  <title>Add Product</title>
  <style>
    body {
      background-color: #e6e9e9;
      font-family: 'Poppins', sans-serif;
    }
    .form-container {
      height: 100%;
      display: grid;
      place-content: center;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 40px 50px;
    }
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
  <%- include('_header') %>
  <form class="w-50 mx-auto mt-4 form-container" action="/products/create" method="POST">
    <h3>Add Product</h3>

    <fieldset class="mb-4">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </fieldset>

    <fieldset class="mb-4">
      <label for="categoryId" class="form-label">Category</label>
      <select class="form-select" id="categoryId" name="categoryId" required>
        <% categories.forEach(category => { %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
      </select>
    </fieldset>

    <button type="submit" class="btn btn-success align-self-center">Add Product</button>
    <a href="/products" class="btn btn-secondary mt-3">Back to Products</a>
  </form>
  <%- include('_bootstrap_script') %>
</body>
</html>
